body {
	margin: 0;
}

header > nav li {
	list-style-type: none;
	display: inline;
	padding-right: 0.625em;
}

body > header,
section > hgroup > h2
footer {
	text-align: center;
}

section > hgroup > h4,
section > header > h4,
section > article {
	margin-left: 12.5em;
}

section:nth-child(even) {
	background-color: #d3d3d3;
}